.social__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin : 0 10px;
  margin-left: 100px;
}

.stories {
  margin-left: 10px;
  border: 1px solid #F80179;
}

.story__name {
  margin-left: 10px;
  color : "gray";
}